// @import '_reset.scss';

// $var: white;

// body {
//   background-color: $var;
// }

$color-brand: #246EB9;

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

ul.list {
  padding: 0;
}

.card-link, .card-link:hover {
  color: inherit;
}

.card-link {
  > div, .card-title, .card-text {
    transition: all 300ms ease-in-out;
  }
  &:hover {
    > div {
      transform: translateY(-6px);
    }
  }
}

#places .card-link:hover {
  .card-text {
    color: $color-brand;
  }
}

#alternatives .card-link:hover {
  .card-title {
    color: $color-brand;
  }
}

.button-home {
  border-radius: 0 0 8px 8px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
