<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
  </script>

  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/favicon/apple-touch-icon.png' | url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicon/favicon-32x32.png' | url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/favicon/favicon-16x16.png' | url }}">
  <link rel="shortcut icon" href="{{ '/images/favicon/favicon.ico' | url }}">
  <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
  <link rel="mask-icon" href="{{ '/images/favicon/safari-pinned-tab.svg' | url }}" color="#246eb9">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#ffffff">

  {% include "partials/meta-opengraph.njk" %}

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/index.css">
  {# <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>  </head> #}

</head>
<body id="top" itemscope itemtype="http://schema.org/WebPage">
  {{ content | safe }}

  <footer class="container">
    <div class="row">
      <div class="col-xs-12 col-md-7 text-center text-md-left pb-5">
        <h4 class="pb-2">💝 Backers</h4>
        <div class="pb-2">
          <a href="https://mynode.alexkaul.com/gh-backer/top/0/profile" rel="noopener nofollow" target="_blank">
            <img class="rounded-circle pr-1" src="https://mynode.alexkaul.com/gh-backer/top/0/avatar/60" alt="Backer"/>
          </a>
          <a href="https://mynode.alexkaul.com/gh-backer/top/1/profile" rel="noopener nofollow" target="_blank">
            <img class="rounded-circle pr-1" src="https://mynode.alexkaul.com/gh-backer/top/1/avatar/60" alt="Backer"/>
          </a>
          <a href="https://mynode.alexkaul.com/gh-backer/top/2/profile" rel="noopener nofollow" target="_blank">
            <img class="rounded-circle pr-1" src="https://mynode.alexkaul.com/gh-backer/top/2/avatar/60" alt="Backer"/>
          </a>
          <a href="https://mynode.alexkaul.com/gh-backer/top/3/profile" rel="noopener nofollow" target="_blank">
            <img class="rounded-circle pr-1" src="https://mynode.alexkaul.com/gh-backer/top/3/avatar/60" alt="Backer"/>
          </a>
          <a href="https://mynode.alexkaul.com/gh-backer/top/4/profile" rel="noopener nofollow" target="_blank">
            <img class="rounded-circle pr-1" src="https://mynode.alexkaul.com/gh-backer/top/4/avatar/60" alt="Backer"/>
          </a>
          <a href="https://mynode.alexkaul.com/gh-backer/top/5/profile" rel="noopener nofollow" target="_blank">
            <img class="rounded-circle pr-1" src="https://mynode.alexkaul.com/gh-backer/top/5/avatar/60" alt="Backer"/>
          </a>
          <a href="https://mynode.alexkaul.com/gh-backer/top/6/profile" rel="noopener nofollow" target="_blank">
            <img class="rounded-circle pr-1" src="https://mynode.alexkaul.com/gh-backer/top/6/avatar/60" alt="Backer"/>
          </a>
          <a href="https://mynode.alexkaul.com/gh-backer/top/7/profile" rel="noopener nofollow" target="_blank">
            <img class="rounded-circle pr-1" src="https://mynode.alexkaul.com/gh-backer/top/7/avatar/60" alt="Backer"/>
          </a>
          <a href="https://mynode.alexkaul.com/gh-backer/top/8/profile" rel="noopener nofollow" target="_blank">
            <img class="rounded-circle pr-1" src="https://mynode.alexkaul.com/gh-backer/top/8/avatar/60" alt="Backer"/>
          </a>
          <a href="https://mynode.alexkaul.com/gh-backer/top/9/profile" rel="noopener nofollow" target="_blank">
            <img class="rounded-circle pr-1" src="https://mynode.alexkaul.com/gh-backer/top/9/avatar/60" alt="Backer"/>
          </a>
        </div>
        <div>
          <a href="https://mynode.alexkaul.com/gh-donate" target="_blank" rel="noopener noreferrer" class="btn btn-warning my-2">
            Become a Backer
          </a>
        </div>
      </div>

      <div class="col-xs-12 col-md-5 text-center text-md-right py-5">
        <p>
          Github: <a href="https://github.com/alexk111/DeBitpay-Directory" target="_blank">Source Code</a>
        </p>
        <p>
          Twitter: <a href="https://twitter.com/alex_kaul" target="_blank">@alex_kaul</a>
        </p>
      </div>
    </div>
  </footer>

  {%- if buildconfig.env == 'production' and (analytics.google) -%}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{analytics.google}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{analytics.google}}');
    </script>
  {%- endif -%}
</body>
</html>
