<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + 'has-js ';
  </script>

  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/favicon/apple-touch-icon.png' | url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicon/favicon-32x32.png' | url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/favicon/favicon-16x16.png' | url }}">
  <link rel="shortcut icon" href="{{ '/images/favicon/favicon.ico' | url }}">
  <link rel="manifest" href="{{ '/site.webmanifest' | url }}">
  <link rel="mask-icon" href="{{ '/images/favicon/safari-pinned-tab.svg' | url }}" color="#246eb9">
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#ffffff">

  {% include "partials/meta-opengraph.njk" %}

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/index.css">
  {# <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>  </head> #}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body id="top" itemscope itemtype="http://schema.org/WebPage">
  {{ content | safe }}

  <footer class="container">
    <div class="card border-info text-center">
      <div class="card-body">
        <h5 class="card-title">Haven't you found alternatives that fit your needs?</h5>
        <p class="card-text">If you still have to make payments via BitPay and your Bitcoin wallet doesn't support their payment links, check <a href="https://alexk111.github.io/DeBitpay/" target="_blank">DeBitpay</a>.</p>
      </div>
    </div>
    <div class="row pt-5">
      <div class="col-xs-12 col-md-7 text-center text-md-left pb-5">
        <p class="lead pb-2">
          💝 Donations are always appreciated!
        </p>
        <p>
          <a href="https://donate.alexkaul.com/debitpay-directory" class="btn btn-secondary" target="_blank">Donate Bitcoin</a>
        </p>
      </div>

      <div class="col-xs-12 col-md-5 text-center text-md-right pb-5">
        <p>
          Github: <a href="https://github.com/alexk111/DeBitpay-Directory" target="_blank">Source Code</a>
        </p>
        <p>
          Twitter: <a href="https://twitter.com/alex_kaul" target="_blank">@alex_kaul</a>
        </p>
      </div>
    </div>
  </footer>

  {%- if buildconfig.env == 'production' and (analytics.google) -%}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{analytics.google}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{analytics.google}}');
    </script>
  {%- endif -%}
</body>
</html>
