---
layout: layouts/base.njk
permalink: /{{ page.fileSlug }}/index.html
---

{% set alternativeslist = collections.alternatives %}

<main role="main" id="alternatives">
  {% include "partials/home-button.njk" %}

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">
        {{ title }} Alternatives
      </h1>
      <p class="lead text-muted">
        Places to {{ description | uncapitalize | openSentence }} without BitPay.
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <ul class="row list">
        {% for item in alternativeslist | altFor(page.fileSlug) %}
          <div class="col-md-4">
            <a class="card-link" href="{{ item.data.homepage + '?utm_source=DeBitpay.directory&utm_medium=respect' | url }}" target="_blank">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <h5 class="card-title">{{ item.data.title }}</h5>
                  <p class="card-text">{{ item.data.description }}</p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </ul>

      <p class="lead text-muted text-center">
        Do you know of an alternative to <a href="{{ homepage + '?utm_source=DeBitpay.directory&utm_medium=disrespect' | url }}" target="_blank">{{ title }}</a> accepting Bitcoin without BitPay that's not included here? Tag them on Twitter with hashtag #DeBitpay. Or <a href="https://github.com/alexk111/DeBitpay-Directory/issues" target="_blank">post an issue on GitHub</a>.
      </p>
    </div>
  </div>
</main>
