---
layout: layouts/base.njk
permalink: /{{ page.fileSlug }}/index.html
---

{% set alternativeslist = collections.alternatives %}

<main role="main" id="alternatives">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a href="{{ '/' | url }}" class="btn btn-lg btn-secondary button-home">DeBitpay Directory</a>
    </li>
  </ul>

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">
        {{ title }} Alternatives
      </h1>
      <p class="lead text-muted">
        Places to {{ description | uncapitalize | openSentence }} without BitPay.
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <ul class="row list">
        {% for item in alternativeslist | altFor(page.fileSlug) %}
          <div class="col-md-4">
            <a class="card-link" href="{{ item.data.homepage | url }}" target="_blank">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <h5 class="card-title">{{ item.data.title }}</h5>
                  <p class="card-text">{{ item.data.description }}</p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </ul>

      <p class="lead text-muted text-center">
        Do you know of an alternative to {{ title }} accepting Bitcoin without Bitpay that's not included here? Tag them on Twitter with hashtag #DeBitpay. Or post an issue on GitHub.
      </p>
    </div>
  </div>
</main>
