---
layout: layouts/base.njk
permalink: /{{ page.fileSlug }}/index.html
---

<div>
  <a href="{{ '/' | url }}">Go back</a>
</div>

<h1>{{ title }}</h1>
<p>{{ description }}</p>

<h2>Alternatives</h2>

{% set alternativeslist = collections.alternatives %}
{{inputPath}}
{% for item in alternativeslist | altFor(page.fileSlug) %}
{% include "place-summary.njk" %}
{% endfor %}
