---
layout: layouts/base.njk
title: Page not found
description: Page not found
permalink: 404.html
---

<main role="main" id="anti-bitcoin">
  {% include "partials/home-button.njk" %}

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">
        404
      </h1>
      <p class="lead text-muted">
        Page Not Found
      </p>
      <p>
        <a href="/">Go to DeBitpay.directory Homepage</a>
      </p>
    </div>
  </section>
</main>
