---
layout: layouts/base.njk
title: BitPay - DeBitpay.directory
description: BitPay has been consistently anti-Bitcoin over the past years...
---

<main role="main" id="anti-bitcoin">
  {% include "partials/home-button.njk" %}

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">
        BitPay
      </h1>
      <p class="lead text-muted">
        BitPay has been consistently anti-Bitcoin over the past years:
      </p>
      <ul class="text-left">
        <li><a href="https://www.reddit.com/r/Bitcoin/comments/kxhxv7/warning_bitpay_is_now_forcing_every_user_to_both/" target="_blank" rel="noopener nofollow">They force users to both register and identify themselves when paying with Bitcoin</a></li>
        <li>They supported the S2X attack on Bitcoin (<a href="https://www.reddit.com/r/Bitcoin/comments/74wejs/exposed_how_bankers_are_trying_to_centralize_and/" target="_blank" rel="noopener nofollow">Link 1</a>, <a href="https://medium.com/@DCGco/bitcoin-scaling-agreement-at-consensus-2017-133521fe9a77" rel="noopener nofollow">Link 2</a>)</li>
        <li><a href="https://blog.samouraiwallet.com/post/169222582782/bitpay-qr-codes-are-no-longer-valid-important" target="_blank" rel="noopener nofollow">They dropped support for native Bitcoin addresses</a></li>
        <li><a href="https://twitter.com/alex_kaul/status/1090211252331208705" target="_blank" rel="noopener nofollow">They block payments by IPs/locations</a></li>
        <li><a href="https://www.reddit.com/r/Bitcoin/comments/coe4u1/avoid_bitpay_until_they_integrate_fully_native/" target="_blank" rel="noopener nofollow">They don't support SegWit</a></li>
        <li><a href="https://twitter.com/BtcpayServer/status/1161170558588837890" target="_blank" rel="noopener nofollow">They added KYC for purchasers</a></li>
        <li><a href="https://twitter.com/AmazonWatch/status/1164737664198688770" target="_blank" rel="noopener nofollow">They reject &quot;too high&quot; payments without their permission</a></li>
        <li><a href="https://www.reddit.com/r/Bitcoin/comments/d87h71/why_dont_i_get_to_choose_bip_70_removed_by_default/f1cedy9/" target="_blank" rel="noopener nofollow">Their payment protocol has security issues</a></li>
        <li><a href="https://twitter.com/tomgrundy/status/1171657974043074562" target="_blank" rel="noopener nofollow">They hold funds when withdrawing to a bank account using SWIFT</a></li>
        <li><a href="https://www.reddit.com/r/Bitcoin/comments/6zmze1/can_we_talk_about_chainalysis_mission_to_destroy/" target="_blank" rel="noopener nofollow">They cooperate with Chainalysis</a></li>
        <li>more is coming...</li>
      </ul>
    </div>
    <div class="container">
      <div class="alert alert-primary mt-5" role="alert">
        😎 Check <a href="https://github.com/alexk111/awesome-bitcoin-payment-processors/#readme" target="_blank" class="alert-link">Awesome Bitcoin Payment Processors</a> list to find out better ways to accept Bitcoin.
      </div>
    </div>
  </section>
</main>
