---
layout: layouts/base.njk
title: BitPay - DeBitpay.directory
description: BitPay has been consistently anti-Bitcoin over the past years...
---

<main role="main" id="anti-bitcoin">
  {% include "partials/home-button.njk" %}

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">
        BitPay
      </h1>
      <p class="lead text-muted">
        BitPay has been consistently anti-Bitcoin over the past years:
      </p>
      <ul class="text-left">
        <li><a href="https://blog.samouraiwallet.com/post/169222582782/bitpay-qr-codes-are-no-longer-valid-important" target="_blank">They dropped support for native Bitcoin addresses</a></li>
        <li><a href="https://twitter.com/alex_kaul/status/1090211252331208705" target="_blank">They block payments by IPs/locations</a></li>
        <li><a href="https://www.reddit.com/r/Bitcoin/comments/coe4u1/avoid_bitpay_until_they_integrate_fully_native/" target="_blank">They don't support SegWit</a></li>
        <li><a href="https://twitter.com/BtcpayServer/status/1161170558588837890" target="_blank">They added KYC for purchasers</a></li>
        <li>more is coming...</li>
      </ul>
    </div>
  </section>
</main>
